<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>COUNTER</h1>
    <h2>actual number of times you have visited the root:{{count}}</h2>
    <form action = '/', method = 'post'>
        <button type = 'submit'>+1</button>
    </form>
    <form action = '/reset', method = 'post'>
        <button type = 'submit'>reset</button>
    </form>
    <!-- <form action = '/plusTwo', method = 'post'>
        <button type = 'submit'>+2</button>
    </form>
     -->
</body>
</html>